<configuration>
  <appSettings>
    <!-- serilog:minimum-level can be one of: Verbose, Debug, Information, Warning, Error, Fatal -->
    <add key="serilog:minimum-level" value="Information" />
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value="logs\PowerShellExporter-.log" />
    <add key="serilog:write-to:File.rollingInterval" value="Day" />
    <add key="serilog:write-to:File.retainedFileCountLimit" value="31" />
  </appSettings>
</configuration>